.page_container {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.hero_container {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

.content_container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.content_grid {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_box {
    border: 1px solid white;
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box > h1 {
    color: green;
}
