.navbar_container {
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
}

.navbar_profile h1 {
    margin-left: 2vw;
}

#navbar_login {
    color: white;
}

#navbar_login button {
    font-size: 2vh;
    font-weight: bold;
    color: red;
    margin-right: 2vw;
}