.navbar_container {
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
}

#navbar_login {
    color: white;
}

#navbar_login button {
    font-size: 2vh;
    font-weight: bold;
    color: red;
}