body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

br + div {
  color: red;
}

.flex_wrap {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_wrap div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.box1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box2 {
  width: 300px;
  height: 100px;    
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}

.box3 {
  width: 300px;
  height: 100px;    
  padding: 50px;
  border: 1px solid green;
  box-sizing: border-box;
  float: right;
}

.box4 {
  width: 300px;
  height: 100px;    
  padding: 50px;
  border: 1px solid yellow;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px #888888;
  background-color: linear-gradient(to right, red , yellow);
  text-shadow: 3px 2px lightgrey;
}

